.hero {
  display: flex;
  justify-content: center;
  padding-top: 66px;
  padding-bottom: 159px;
  &__content {
    max-width: 980px;
    margin: 0 auto;
  }
  &__heading {
    text-align: center;
    font-size: 5rem;
    margin-bottom: 62px;
  }
  &__images {
    display: flex;
    justify-content: center;
    gap: 32px;
  }
  // Figure
  &__fig {
    display: grid;
    grid-template-rows: 275px repeat(5, 1fr);
    justify-items: center;
    align-items: center;
    gap: 12px;
  }
  &__img {
    display: block;
    align-self: end;
    margin-bottom: 22px;
    width: 100%;
    height: auto;
  }
  &__new {
    color: var(--red);
    margin-top: 18px;
  }
  &__macbook-type {
    font-size: 2.5rem;
    font-weight: 500;
  }
  &__placeholder {
    display: block;
  }
  &__price {
    display: block;
    font-size: 1.5rem;
    font-weight: 500;
  }
  &__btn {
    background-color: var(--btn-blue);
    border-style: none;
    border-radius: 22px;
    padding: 8px 15px;
  }
  &__btn-text {
    font-size: 1.0625rem;
    color: var(--white);
  }
  &__learn-more {
    margin-left: 15px;
    font-size: 1.0625rem;
    color: var(--blue-link-text);
  }
  &__availability {
    display: block;
    color: var(--gray-text-availability);
  }
}

.mac-choices {
  display: flex;
  justify-content: center;
  padding-top: 102px;
  padding-bottom: 102px;
  background-color: var(--white-tinted);
  &__content {
    max-width: 915px;
    margin: 0 auto;
  }
  &__heading {
    font-size: 3rem;
    text-align: center;
  }
  &__choices-container {
    display: flex;
    justify-content: center;
    gap: 32px;
  }
  .mac-choice {
    //Figure
    &__fig {
      display: grid;
      grid-template-rows: 235px repeat(6, 35px) 1px;
      justify-items: center;
      align-items: center;
    }
    &__img {
      display: block;
      align-self: end;
    }
    &__color-swatch {
      height: 14px;
      width: 14px;
      border-radius: 50%;
      display: inline-block;
      border: 1px solid rgba(0, 0, 0, 0.25);
      &--dark-gray {
        @extend .mac-choice__color-swatch;
        background-color: var(--swatch-gray);
      }
      &--light-gray {
        @extend .mac-choice__color-swatch;
        background-color: var(--swatch-white);
      }
    }
    &__new {
      color: #c2500c;
      margin-top: 18px;
      font-size: .75rem;
    }
    &__macbook-type {
      font-size: 1.5rem;
      font-weight: 500;
    }
    &__placeholder {
      display: block;
    }
    &__price {
      display: block;
      font-size: .875rem;
      font-weight: 500;
    }
    &__btn {
      background-color: var(--btn-blue);
      border-style: none;
      border-radius: 22px;
      padding: 5px 12px;
    }
    &__btn-text {
      font-size: .75rem;
      color: var(--white);
    }
    &__learn-more {
      color: #0071e3;
      font-size: .875rem;
    }
    &__divider {
      height: 1px;
      width: 100%;
      background-color: var(--gray-divider);
    }
    //Specs
    &__specs-container {
      display: grid;
      grid-template-rows: repeat(11, 120px) 1px;
      align-items: center;
    }
    &__specs-group {
      display: flex;
      flex-direction: column;
      align-items: center;
      line-height: 1.5;
    }
    &__spec {
      text-align: center;
      &--main-text {
        @extend .mac-choice__spec;
        font-size: 1.3125rem;
        font-weight: 600;
      }
      &--secondary-text {
        @extend .mac-choice__spec;
        font-size: .875rem;
      }
      &--img {
        @extend .mac-choice__spec;
        margin-bottom: 7px;
      }
    }
  }
  &__compare-and-shop {
    display: flex;
    justify-content: center;
    gap: 29px;
    margin-top: 52px;
    a {
      color: var(--blue-link-text);
      &:hover {
        text-decoration: underline;
      }
    }
    span {
      font-size: 1.3125rem;
    }
  }
}

.ads-main {
  display: grid;
  &__container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 25px;
    max-width: 1250px;
    justify-self: center;
    padding: 25px;
    margin: 0 auto;
  }
  &__ad {
    background-size: 675px 650px;
    background-repeat: no-repeat;
    height: 650px;
    text-align: center;
    &--accessories {
      @extend .ads-main__ad;
      background-image: url("https://cdn.jsdelivr.net/gh/tupasj/MacBook_Pro_Landing_Page/assets/images/mac-accessories.png");
    }
    &--trade {
      @extend .ads-main__ad;
      background-image: url("https://cdn.jsdelivr.net/gh/tupasj/MacBook_Pro_Landing_Page/assets/images/macbook-pro.png");
    }
    &--work {
      @extend .ads-main__ad;
      background-image: url("https://cdn.jsdelivr.net/gh/tupasj/MacBook_Pro_Landing_Page/assets/images/apple-at-work.png");
    }
    &--education {
      @extend .ads-main__ad;
      background-image: url("https://cdn.jsdelivr.net/gh/tupasj/MacBook_Pro_Landing_Page/assets/images/apple-and-education.png");
    }
    &--h-center {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 11px;
      margin-top: 62px;
      padding-left: 62px;
      padding-right: 62px;
      text-align: center;
    }
    &--center {
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      line-height: 2;
    }
  }
  &__text {
    line-height: 1.5;
    &--medium {
      font-size: 1.5rem;
    }
    &--large {
      font-size: 3rem;
      font-weight: 600;
    }
    &--link {
      color: var(--blue-link-text);
      &:hover {
        text-decoration: underline;
      }
    }
    &--white {
      color: var(--white);
    }
  }
  &__btn {
    background-color: var(--blue-link-text);
    border-style: none;
    border-radius: 17px;
    border-radius: 3em;
    padding: 0.75em 1.25em;
  }
  &__anchor {
    font-size: 1.0625rem;
    color: var(--white);
  }
}

.ads-secondary {
  display: grid;
  &__container {
    justify-self: center;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 25px;
    margin-top: 32px;
    margin-bottom: 102px;
    max-width: 1250px;
  }
  &__ad {
    display: block;
    margin-top: 12px;
    margin-bottom: 12px;
    font-size: 1.3125rem;
    &--delivery {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      padding: 0px 125px;
      text-align: center;
    }
    &--card {
      @extend .ads-secondary__ad--delivery;
    }
    &--img {
      @extend .ads-secondary__ad;
    }
    &--heading {
      @extend .ads-secondary__ad;
      font-weight: bold;
    }
    &--text {
      @extend .ads-secondary__ad;
    }
    &--learn-more {
      @extend .ads-secondary__ad;
      color: var(--blue-link-text);
      &:hover {
        text-decoration: underline;
      }
    }
  }
}

//Medium
@media only screen and (max-width: 1068px) {
  .hero {
    padding-bottom: 81px;
    &__content {
      max-width: 692px;
    }
    &__heading {
      margin-bottom: 0;
      font-size: 4rem;
    }
    //Figure
    &__fig {
      grid-template-rows: 250px repeat(5, 1fr);
    }
    &__macbook-type {
      font-size: 1.75rem;
    }
    &__price {
      font-size: 1.3125rem;
    }
  }
  .mac-choices {
    &__content {
      max-width: 677px;
    }
    .mac-choice {
      &__img {
        width: 100%;
      }
    }
  }
}

//Small
@media only screen and (max-width: 734px) {
  .hero {
    padding-bottom: 50px;
    &__content {
      max-width: 510px;
    }
    &__heading {
      font-size: 3rem;
      margin-bottom: 48px;
    }
    &__images {
      flex-direction: column;
      gap: 0;
    }
    &__img {
      margin-bottom: 0;
      padding-bottom: 22px;
      width: 235px;
      height: auto;
    }
    &__placeholder {
      display: none;
    }
    &__fig {
      grid-template-rows: 175px repeat(5, 1fr);
      gap: 0;
    }
  }
  .mac-choices {
    &__content {
      max-width: 510px;
    }
    &__heading {
      margin-bottom: 35px;
      font-size: 2rem;
    }
    &__choices-container {
      flex-wrap: wrap;
      justify-content: start;
      min-width: 635px;
    }
    .mac-choice {
      &__specs-container {
        grid-template-rows: repeat(11, 105px) 1px;
      }
      &__fig {
        grid-template-rows: 175px repeat(6, 35px) 1px;
      }
    }
  }
  .ads-main {
    display: block;
    &__container {
      display: flex;
      gap: 15px;
      flex-direction: column;
      margin: 0 auto;
      padding: 0;
    }
    &__ad {
      background-size: 100% 465px;
      height: 465px;
      width: 100%;
      margin: 0 auto;
      &--h-center {
        margin: 0 auto;
        margin-top: 22px;
        padding-left: 0;
        padding-right: 0;
        width: 275px;
      }
    }
    &__text {
      &--large {
        font-size: 2rem;
        font-weight: 600;
      }
    }
  }
  .ads-secondary {
    display: block;
    &__container {
      display: block;
    }
    &__ad {
      --delivery {
        padding-top: 18px;
        padding-bottom: 18px;
        margin-bottom: 22px;
      }
      --card {
        padding-top: 18px;
        padding-bottom: 18px;
      }
    }
  }
}
