.footer {
  background-color: #f5f5f7;
}

.footer-info {
  &__content {
    max-width: 980px;
    margin: 0 auto;
    padding: 22px;
    font-size: 12px;
    line-height: 1.25;
    color: #89898e;
  }
  &__paragraph {
    margin-bottom: 12px;
  }
  &__item {
    display: list-item;
    list-style-type: decimal;
    margin-bottom: 12px;
  }
  &__divider {
    height: 1px;
    background-color: #d2d2d7;
  }
}

.footer-nav {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 25px;
  margin: 0 auto;
  padding: 0 22px;
  max-width: 980px;
  font-size: 12px;
  &__column {
    text-align: left;
  }
  &__heading {
    font-weight: 600;
  }
  &__list {
    display: flex;
    flex-direction: column;
    margin-top: 12px;
    margin-bottom: 12px;
  }
  &__item {
    margin: 0;
    margin-bottom: 12px;
    a {
      color: #4a4a4d;
      &:hover {
        text-decoration: underline;
      }
    }
  }
}
