.main-nav {
  background-color: var(--header-text-black);
  &__ul {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 4px;
    height: 44px;
  }
  &__menu-icon {
    display: none;
  }
  &__icon {
    padding-bottom: 4px;
  }
  &__icon > a {
    &:link {
      color: var(--nav-text-gray);
    }
    &:visited {
      color: var(--nav-text-gray);
    }
    &:hover {
      color: var(--white);
    }
  }
  &__item {
    margin-bottom: 6px;
  }
  &__text {
    font-size: .75rem;
    color: var(--nav-text-gray);
    &:hover {
      color: var(--white);
    }
  }
}

.secondary-nav {
  background-color: var(--bg-gray);
  &__ul {
    display: flex;
    justify-content: center;
    padding: 21px 0px;
  }
  &__item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  &__item > a {
    color: var(--black);
    text-align: center;
    &:hover {
      color: var(--blue-hover);
    }
  }
  &__text {
    font-size: .75rem;
    width: 84px;
  }
}

//Medium
@media only screen and (max-width: 1068px) {
  .main-nav {
    &__ul {
      display: grid;
    }
    &__menu-icon {
      display: inline;
      position: absolute;
    }
    &__apple-logo {
      justify-self: center;
    }
    &__item {
      display: none;
    }
    &__magnifying-glass {
      display: none;
    }
    &__shopping-bag {
      display: none;
    }
  }
  .secondary-nav {
    &__ul {
      display: grid;
      grid-template-columns: repeat(6, 150px);
      overflow-x: scroll;
      justify-content: start;
    }
  }
}
