.stop-scrolling {
    height: 100%;
    overflow: hidden;
  }
  
  .mobile-menu {
    display: none;
    position: absolute;
    margin-top: 42px;
    height: 100vh;
    width: 100%;
    background-color: var(--black-lighter);
    &__divider {
      display: block;
      height: 1px;
      background-color: var(--black-divider);
      &--partial-width {
        @extend .mobile-menu__divider;
        margin: 0 auto;
        width: 85%;
      }
    }
    li {
      display: block;
      margin-top: 15px;
      margin-bottom: 15px;
    }
    a {
      font-size: 17px;
      margin-left: 40px;
      color: var(--gray-text-mobile-menu);
      &:hover {
        color: var(--white);
      }
    }
  }
  