:root {
    --anchor-text-blue: #3485d6;
    --bg-gray: #f8f8f9;
    --bg-white: #ffffff;
    --btn-blue: #0071e3;
    --header-text-black: #1d1d1f;
    --nav-black: #141414;
    --nav-text-gray: #a1a1a1;
    --text-dark-gray: #4a4a4d;
}
