:root {
    --anchor-text-blue: #3485d6;
    --black: #000000;
    --black-divider: #424245;
    --black-lighter: #1d1d1f;
    --bg-gray: #f8f8f9;
    --bg-white: #ffffff;
    --btn-blue: #0071e3;
    --blue-hover: #3384d5;
    --blue-link-text: #0071e3;
    --header-text-black: #1d1d1f;
    --gray-divider: #d2d2d7;
    --gray-footer-text: #89898e;
    --gray-text-availability: #909095;
    --gray-text-mobile-menu: #cccccc;
    --nav-black: #141414;
    --nav-text-gray: #a1a1a1;
    --red: #c2500c;
    --swatch-gray: #7d7e80;
    --swatch-white: #e3e4e6;
    --text-dark-gray: #4a4a4d;
    --white: #ffffff;
    --white-tinted: #fafafa;
}
